# Vercel Postgres - estas las copias de la integración de Vercel
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# NextAuth - genera el secret con: openssl rand -base64 32
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Admin - el email que tendrá permisos de admin al registrarse
ADMIN_EMAIL=tu@email.com
